*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea{
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
 }

 .container h2{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
 }

 section{
    color: #182C61;
 }

 header nav li a{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
 }   


header{
    padding: 16px 0; 
    background-color: #4e3a047e;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    margin-right: 50px;
    font-size: 18px;
}

header nav li a{ 
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header .container, 
section .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.marcas img{
    height: 24px;
}

.marcas li,
.redes_sociais li{
    display: inline;
    margin-right: 16px;
}

.redes_sociais li a{
    text-decoration: none;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 8px;
}

.fachada2 {
    margin-left: 24px;
}

.fachada{
    width: 40%;
}

.redes_sociais img{
    height: 24px;
}

.contato_metodos{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 300px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

#contato {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#contato h2,
#contato h3,
#contato button { font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
form button{
    background-color: #182C61;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #2a4489
}

#contato button {
    font-size: px;
}

footer{
    background-color: #4e3a047e;
    color: #fff;
    padding: 16px;
}

